{{!< default}}




<div class="inner">
	{{> "site-nav"}}
</div>

<div class="gh-home-head-inner outer">
		{{!-- <div class="gh-home-head-grid"> --}}
		<div class="gh-hero inner">				

			<div class="gh-home-head-content">
				<div class="gh-beta-badge"><span>grow</span></div>
				
					<h1 class="gh-mainhead js-floating-header-trigger js-no-widows">Digital Marketing Adalah Masa Depan Bisnis</h1>
					<p class="gh-subhead js-no-widows">Sangat penting bagi setiap bisnis yang membangun kehadiran online untuk memiliki strategi digital marketing yang layak. Pertumbuhan bisnis yang konsisten tidaklah mungkin tanpa menerima era baru ini. Organisasi yang mengerti nilai esensi ini akan terus berada di depan pesaing terdekatnya.</p>
					
			</div>

			<div class="gh-home-head-graphic">
				<img src="/content/images/2020/10/main2.png">
			</div>

		</div>
	</div>
</div>


<section class="gh-section-dr outer gh-curve-grey gh-members-head px-6">
	<div class="inner">
		<div class="gh-members-head-content">
			{{!-- <div class="gh-beta-badge"><span>beta</span></div>
			<h1 class="gh-mainhead">Turn your audience into a business</h1> --}}
			
			{{content}}
		</div>
	</div>
	<div class="gh-members-head-diagram">
		{{#if feature_image}}
            <figure class="kg-card kg-image-card kg-width-full">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 1170px,
                            2000px"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{title}}"
					class="kg-image"
                />
            </figure>
            {{/if}}
		{{!-- <img src="/content/images/2020/03/members-header-diagram.svg" alt="Members diagram"> --}}
	</div>
</section>



<main id="site-main" class="site-main">

	<section class="gh-section gh-section-white">
			<div class="outer">
			<div class="gh-webapp-grid">
				<div class="gh-webapp-image-wrapper">
					<img src="/content/images/2020/09/website-app.jpg" alt="website & apps">
				</div>
				<div class="gh-webapp-content">
					<div>
						<h2>Bangun kehadiran digital Anda</h2>
						<p>Mulai dari website, iklan lokal, aplikasi mobile hingga sosial media, ada begitu banyak cara bisnis Anda ditemukan. Kalau website & digital marketing merupakan bagian utama dari bisnis, anda harus memiliki pemahaman dasar cara kerjanya. Bahkan lebih penting adalah mengerti bagaimana praktik terbaik dari desain dan manfaatnya.</p>				
					</div>
				</div>
			</div>
				
			</div>	
	</section>


	<section class="outer gh-section">
			<header class="gh-section-head">
				<div>
					<h2 class="gh-mainhead">Promosikan bisnis dengan iklan online</h2>
					<p class="gh-subhead">Tampil didepan saat pelanggan mencari produk atau layanan seperti Anda di Google, Maps, Facebook, Youtube & Instagram. Hanya bayar sesuai hasil.</p>
				</div>									
			</header>

			<div class="inner">
				<div class="gh-grid">
					<div class="gh-grid-item">
						<img class="grid-img" src="/content/images/2020/09/iklan1.png">
						<h3 class="gh-mainhead">BAWA PROSPEK KE SITUS</h3>
						<p>Tingkatkan penjualan online, booking, pendaftaran atau komunikasi dengan iklan online yang arahkan orang ke website atau di social media.</p>
					</div>
					<div class="gh-grid-item">
						<img class="grid-img" src="/content/images/2020/09/iklan2-1.png">
						<h3 class="gh-mainhead">DAPATKAN LEBIH BANYAK KONTAK</h3>
						<p>Tingkatkan telepon masuk dari pelanggan lewat iklan yang tampilkan tombol chat dan nomor telepon Anda.</p>
					</div>
					<div class="gh-grid-item">
						<img class="grid-img" src="/content/images/2020/09/iklan3.png">
						<h3 class="gh-mainhead">BAWA KUNJUNGAN KE TOKO</h3>
						<p>Bawa pelanggan langsung ke toko Anda dengna iklan bisnis lokal yang bantu pelanggan temukan bisnis Anda di social media, Pencarian & Google Maps</p>
					</div>					
				</div>
			</div>		
	</section>


	<section class="outer gh-section-integrations-gallery gh-section-white gh-section-members-integrations px-6">
		<div class="inner">
			<header class="gh-section-head gh-section-head-bigger">
				<div class="gh-section-head-pre"><span>Integrations</span></div>
				<h2 class="gh-mainhead">Kampanye yang terintegrasi</h2>
				<p class="gh-subhead">Konversi pengunjung Anda menjadi pelanggan. Kampanye di berbagai channel marketing untuk promosikan pesan yang konsisten dengan lebih mudah, efektif dan terencana.</p>
			</header>
		</div>
		<div class="gh-integrations-gallery-wrapper">
			<div class="gh-integrations-gallery-grid">
				<div class="gh-integrations-gallery-grid-column">
					<div id="spotify" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/spotify.webp" alt="Spotify"></div>
						<div class="gh-integrations-gallery-name">Spotify</div>
					</div>
				</div>
				<div class="gh-integrations-gallery-grid-column">
					<div id="typeform" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/typeform.svg" alt="Typeform"></div>
						<div class="gh-integrations-gallery-name">Typeform</div>
					</div>
					<div id="stripe" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/segmentio.webp" alt="Segmentio"></div>
						<div class="gh-integrations-gallery-name">Segmentio</div>
					</div>					
				</div>
				<div class="gh-integrations-gallery-grid-column">
					<div id="unsplash" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/livechat.svg" alt="Live Chat"></div>
						<div class="gh-integrations-gallery-name">Live Chat</div>
					</div>
					<div id="disqus" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/airtable.svg" alt="Air Table"></div>
						<div class="gh-integrations-gallery-name">Air Table</div>
					</div>
				</div>
				<div class="gh-integrations-gallery-grid-column">
					<div id="google ads" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/trello.webp" alt="Awakening"></div>
						<div class="gh-integrations-gallery-name">Trello</div>
					</div>
					<div id="mailchimp" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/mailchimp.webp" alt="Mailchimp"></div>
						<div class="gh-integrations-gallery-name">Mailchimp</div>
					</div>
				</div>
				<div class="gh-integrations-gallery-grid-column">
					<div id="twitter" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/buffer.webp" alt="Twitter"></div>
						<div class="gh-integrations-gallery-name">Buffer</div>
					</div>					
					<div id="analytics" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/ganalytic.webp" alt="Analytics"></div>
						<div class="gh-integrations-gallery-name">Analytics</div>
					</div>
				</div>
				<div class="gh-integrations-gallery-grid-column">
					<div id="instagram" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/instagram.webp" alt="Instagram"></div>
						<div class="gh-integrations-gallery-name">Instagram</div>
					</div>
					<div id="youtube" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/youtube.png" alt="YouTube"></div>
						<div class="gh-integrations-gallery-name">YouTube</div>
					</div>
				</div>
				<div class="gh-integrations-gallery-grid-column">
					<div id="facebook" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/facebook.webp" alt="Facebook"></div>
						<div class="gh-integrations-gallery-name">Facebook</div>
					</div>
					<div id="google" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/aws.svg" alt="AWS"></div>
						<div class="gh-integrations-gallery-name">AWS</div>
					</div>
				</div>
				<div class="gh-integrations-gallery-grid-column">
					<div id="facebook-ads" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/metaads.png" alt="Meta Ads"></div>
						<div class="gh-integrations-gallery-name">Meta Ads</div>
					</div>
					<div id="google-ads" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/gas.webp" alt="Google Ads"></div>
						<div class="gh-integrations-gallery-name">Google Ads</div>
					</div>
				</div>
				<div class="gh-integrations-gallery-grid-column">
					<div id="slack" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/slack.webp" alt="Slack"></div>
						<div class="gh-integrations-gallery-name">Slack</div>
					</div>
					<div id="soundcloud" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/soundcloud.webp" alt="SoundCloud"></div>
						<div class="gh-integrations-gallery-name">SoundCloud</div>
					</div>
				</div>
				<div class="gh-integrations-gallery-grid-column">
					<div id="shopify" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/shopify.svg" alt="Shopify"></div>
						<div class="gh-integrations-gallery-name">Shopify</div>
					</div>
					<div id="intercom" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/intercom.webp" alt="Intercom"></div>
						<div class="gh-integrations-gallery-name">Intercom</div>
					</div>
				</div>
				<div class="gh-integrations-gallery-grid-column">
					<div id="helpscout" class="gh-integrations-gallery-grid-item">
						<div class="gh-integrations-gallery-img-wrapper"><img loading="lazy"
								src="/content/images/rss.webp" alt="RSS"></div>
						<div class="gh-integrations-gallery-name">RSS</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section class="gh-section gh-resources">
		<div class="outer">
			<header class="gh-section-head gh-section-head-bigger">
				<div class="gh-section-head-pre"><span>Start</span></div>
				<h2 class="gh-mainhead" >Mulai kembangkan bisnis Anda sekarang</h2>
				<p class="gh-subhead">Baik itu, bangun eksistensi, tampil dihasil pencarian, meningkatkan customer, dorong penjualan lewat periklanan hingga jelajahi peluang online, kami mampu membantu Anda mencapai gol yang relevan untuk bisnis Anda. </p>
			</header>
		</div>
	</section>

</main>


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
	// NOTE: Scroll performance is poor in Safari
	// - this appears to be due to the events firing much more slowly in Safari.
	//   Dropping the scroll event and using only a raf loop results in smoother
	//   scrolling but continuous processing even when not scrolling
	$(document).ready(function () {
		console.log("there must be a way to debug");

	
		// End fitVids
		var nav = document.querySelector('.site-nav-main .site-nav .floating-header');
		var feed = document.querySelector('.post-feed');

		//var progressBar = document.querySelector('progress');
		//var header = document.querySelector('.floating-header');
		//var title = document.querySelector('.js-floating-header-trigger');

		var lastScrollY = window.scrollY;
		var lastWindowHeight = window.innerHeight;
		var lastDocumentHeight = $(document).height();
		var ticking = false;

		function onScroll() {
			lastScrollY = window.scrollY;
			requestTick();
		}

		function onResize() {
			lastWindowHeight = window.innerHeight;
			lastDocumentHeight = $(document).height();
			requestTick();
		}

		function requestTick() {
			if (!ticking) {
				requestAnimationFrame(update);
			}
			ticking = true;
		}

		function update() {
			var trigger = feed.getBoundingClientRect().top + window.scrollY;
			var progressMax = lastDocumentHeight - lastWindowHeight;
			// show/hide nav
			if (lastScrollY >= trigger - 20) {
				nav.classList.add('floating-active');
			} else {
				nav.classList.remove('floating-active');
			}
			ticking = false;
		}
		
		window.addEventListener('scroll', onScroll, {
			passive: true
		});
		window.addEventListener('resize', onResize, false);
		update();

	});
</script>
{{/contentFor}}
